submitter=LordRust
type=betacoronavirus
host=Human
sequencing_technology=Illumina NovaSeq
assembly_method=bwa + iVar trim + iVar consensus
originating_lab="Section for Molecular Diagnostics, Infection Prevention and Control"
originating_lab_address="Lund, Sweden"
submitting_lab="Section for Molecular Diagnostics"
submitting_lab_address="Lund, Sweden"
authors="Jonas Björkman"
pseudo_id_prefix=SUS
gisaid_cid=cid-3330c4963c16m